doctype html
html(lang='en')
    head
        title #hashtagwars
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500%7CLato:400,700' rel='stylesheet')
    body
        #app
